@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Resettings */
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans';
	font-size: 16pt;
}
 
body {
	width: 100%;
	height: 100%;
}

:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish-red: hsl(0, 6%, 24%);
}

/* General settings */
body {
	min-height: 100vh;
}

header, main {
	padding-left: 20%;
	padding-right: 37%;
}

main h1 {
	color: var(--dark-grayish-red);
	font-weight: 400;
	letter-spacing: 0.3em;
}

.highlight {
	color: var(--desaturated-red);
	font-weight: 300;
}

main p {
	line-height: 1.5;
	color: var(--desaturated-red);
}

main form {
	border-radius: 30px;
	position: relative;
}

main form input[type=email] {
	border: 1px solid gray;
	border-radius: inherit;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	outline: none;
	padding-left: 5%;
}

main form input[type=submit] {
	border: none;
	border-radius: inherit;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	box-shadow: 0 20px 10px -10px lightgray;
	background-image:
		url("images/icon-arrow.svg"),
		linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	background-repeat: no-repeat;
	background-position: center;
}

main form input[type=submit]:hover {
	cursor: pointer;
	filter: brightness(120);
}

.hero-container img {
	width: 100%;
	height: 100%;
}
