@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* Resettings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

img, picture {
	max-width: 100%;
	display: block;
	line-height: 0;
}

button, input, select, textarea {
	font: inherit;
}

button {
	all: unset;
	cursor: pointer;
}

/* Colors */
:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish-red: hsl(0, 6%, 24%);
}

/* General settings */
body {
	width: 100%;
	min-height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16pt;
}

.page-title {
	color: var(--dark-grayish-red);
}

.highlight {
	color: var(--desaturated-red);
}

.page-description {
	color: var(--desaturated-red);
}

.email-form {
	border: 1px solid var(--desaturated-red);
	border-radius: 30px;
	position: relative;
}

.email-form * {
	position: absolute;
	border-radius: 30px;
}

.email-form input[type=email] {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.email-form input[type=submit] {
	top: 0;
	right: 0;
	bottom: 0;
	background-image:
		url("images/icon-arrow.svg"),
		linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	background-repeat: no-repeat;
	background-position: center;
}

/* Desktop/Laptop settings */
@media screen and (min-width: 1081px) {
	.logo-area, .page-title, .email-form {
		float: left;
		clear: left;
		margin-left: 10%;
		margin-right: 10%;
		width: 31%;
	}

	.logo-area {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.page-title, .page-title .highlight {
		font-size: 4vw;
	}

	.highlight {
		font-weight: 300;
	}

	.page-title {
		margin-bottom: 2%;
	}

	.page-description {
		clear: left;
		margin-left: 10%;
		margin-right: 58%;
		margin-bottom: 5%;
	}

	.email-form {
		margin-bottom: 5%;
		background-color: gold;
		padding: 1.5%;
	}

	.hero-container {
		float: right;
		margin-left: 10%;
		height: 100vh;
	}

	.hero-container img {
		width: 100%;
		height: 100%;
	}
}
